body{
  font-family: Propaganda Regular;
}
h1{
  text-align: left;
  color: #000000;
font-weight: bold;

letter-spacing: 0.2cm;
font-size: 50px;
    margin-top: 12px;
display: inline-block;
}
#masstable{
  align-items: center;
display: inline;
}
h3{
  text-align: right;
  color: #000000;

  font-size: 35px;
  letter-spacing: 0.1cm;
  display: block;
  padding-top: 20px;

}
.contact{

    text-align: center;
    align-items: center;
  align-self: center;

}
.introText{
  display: flex;
    justify-content: space-between;
}
.intro{


}
.IntroPargraph{
  text-align: center;
  display: block;
  padding-left: 15%;
  padding-right: 15%;
}
.skills{


  text-align: center;
  align-items: center;
align-self: center;

}
.projects{

  text-align: center;
  align-items: center;
align-self: center;
  position: relative;
clear: both;

}
.textcreate{
  border: none;
    border-bottom: 1px solid green;
}
.imagecon{
  position: relative;

}
.project{
  display: block;
  width:250px;
  height:200px;
    border-radius: 10%;
  height: auto;

  padding: 5px;
}
.textcon{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
    border-radius: 10%;

}
.imagecon:hover .textcon{
  opacity: 1;

}
.projecttext{
  text-align: left;
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
left:50%;
    -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@font-face {
  font-family: "Propaganda Regular";
  src: url("font/VtksPropagandaRegular.ttf");
}
